<ion-header>
  <ion-toolbar>
    <ion-title>{{artist + desc}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close(noSong)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img *ngIf="songs.length===1" [src]="image.url"></ion-img>
 <ion-item margin-top *ngFor="let song of songs; let i = index" (click)="selectSong(song)">
   <ion-avatar>
     {{i+1}}
    </ion-avatar>
     <ion-label>
       <h2>{{song.name}}</h2>
       <p>{{song.popularity}}</p>
     </ion-label>
 </ion-item>
</ion-content>


